@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorSbt
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BlazorSbt.Shared.Data.DemoContext> DbFactory

Header tbd

<!--
<div> is needed to wrap a child component to allow css isolation to work on it.
    note that I had to use Align as the text-center css style did not work.
    I had to use !important on padding in css file to override quickgrid's default theme.
-->
<div>
    <QuickGrid Class="table" Items="@Schedules">
        <PropertyColumn Property="s => s.Visitor" />
        <PropertyColumn Property="s => s.VisitorScore" Align="Align.Center" />
        <PropertyColumn Property="s => s.Home" Align="Align.Center" />
        <PropertyColumn Property="s => s.HomeScore" Align="Align.Center" />
        <PropertyColumn Property="s => s.Day" Align="Align.Center" />
        <PropertyColumn Property="s => s.Field" Align="Align.Center" />
        <PropertyColumn Property="s => s.Time" Align="Align.Center" />

        <TemplateColumn Title="Rescheduled" Class="span-3">
            <div>
                @(new MarkupString("Day </td> <td>Field</td> <td>Time"))
            </div>
        </TemplateColumn>
    
        <!--
        <PropertyColumn Property="s => s.MakeupDay" Align="Align.Center" />
        <PropertyColumn Property="s => s.MakeupField" Align="Align.Center" />
        <PropertyColumn Property="s => s.MakeupTime" Align="Align.Center" />
        -->
    </QuickGrid>
</div>

<!--
    <div b-vnzswwt32v><span b-vnzswwt32v>9/10/2023 9:30:00 AM</span></div></td>
    <td class="col-justify-center " b-vznuo5fmpv></td>
    <td class="col-justify-center " b-vznuo5fmpv></td><
    td class="col-justify-center " b-vznuo5fmpv></td></tr>
    <tr aria-rowindex="4" b-vznuo5fmpv>
        <td class="col-justify-start " b-vznuo5fmpv>Orange</td>
        <td class="col-justify-center " b-vznuo5fmpv>7</td>
        <td class="col-justify-center " b-vznuo5fmpv>Navy Blue</td>
        <td class="col-justify-center " b-vznuo5fmpv>6</td>
        <td class="col-justify-center " b-vznuo5fmpv>9/3/2023 12:00:00 AM</td>
        <td class="col-justify-center " b-vznuo5fmpv>BR3</td>
        <td class="col-justify-center " b-vznuo5fmpv>9/10/2023 11:00:00 AM</td>
        <td class="col-justify-start " b-vznuo5fmpv><div b-vnzswwt32v><span b-vnzswwt32v>9/3/2023 12:00:00 AM</span></div>
        <div b-vnzswwt32v><span b-vnzswwt32v>BR3</span></div>
        <
        @Html.Raw("Day </td> <td>Field</td> <td>Time")
    @(new MarkupString("Day </td> <td>Field</td> <td>Time"))
colspan="3"
-->
@code {
    // [injection]
    // public Data.DemoContext DB { get; set; } = default!;

    [Parameter]
    public string Organization { get; set; } = "";

    [Parameter]
    public string Id { get; set; } = "";

    [Parameter]
    public string TeamName { get; set; } = "";

    //private List<BlazorSbt.Shared.Schedules> Schedules = new List<BlazorSbt.Shared.Schedules>();
    private IQueryable<BlazorSbt.Shared.Schedules>? Schedules;

    protected override void OnInitialized()
    {
        //using var context = DbFactory.CreateDbContext();
        var context = DbFactory.CreateDbContext();
        this.Schedules = context.Schedules.Where(s => s.Organization == Organization && s.Division == Id);//.AsQueryable();
    }
}
