@page "/needAPI/{organization}/{id:nonfile}/{teamName?}"

@using BlazorSbt.Shared

<h3>Standings - Client Version</h3>

<Component1 />

@code {
    [Parameter]
    public string Organization { get; set; } = "";

    [Parameter]
    public string Id { get; set; } = "";

    [Parameter]
    public string TeamName { get; set; } = "";

}
