@page "/{organization}/{id:nonfile}/{gameID:int}"

@using BlazorSbt.Shared

<h3>Scores (Coming Soon?)</h3>

@code {
    [Parameter]
    public string Organization { get; set; } = "";

    [Parameter]
    public string Id { get; set; } = "";

    [Parameter]
    public int GameId { get; set; }

}
